.City {
    height: 35px;
    margin-bottom: 1px;
    background-color: rgba(0,0,0,0.05);
    text-align: left;
    padding: 5px;

    &-name {

    }

    &-temp {
        float: right;
        opacity: 0.6;
    }



    .CloudIcon {
        float: right;
        font-size: 30px;
        line-height: 3px;
        margin-right: 5px;

        span {
            opacity: 0.7;
            font-size: 12px;
        }
    }
}
